<form [formGroup]="form" class="login-form" (ngSubmit)="onSubmit()">
    <h1 class="h1 mb60">Sign in</h1>
    <label class="tt-control-label mb16">
        Telegram username
        <input type="text" formControlName="username" class="tt-input" placeholder="Enter login">
    </label>
    <label class="tt-control-label mb32">
       Password
        <input type="text" formControlName="password" class="tt-input" placeholder="Enter password">
    </label>
    <button type="submit" class="btn btn-shadow">Entry</button>
</form>
<img src="/assets/svg/Content.svg" alt="logo">
